@model IEnumerable<OnlineShopProject.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{int count = 0; }


<div class="container-fluid">
     @*Breadcrumbs*@
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table text-primary"></i>
            Category Details
            <a href="@Url.Action("AddCategory", "Category")" class="btn btn-info float-right fa fa-plus">Add Catagory</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count = count + 1;
                            <tr>
                                <td>@count</td>
                                <td>@item.CategoryName</td>
                                <td>
                                    <span title="Update">@Html.ActionLink(" ", "Edit", "Category", new { id = item.CategoryId }, new { @class = "btn text-info fa fa-pencil-alt" })</span>
                                    <span title="Remove">@Html.ActionLink(" ", "Delete", "Category", new { id = item.CategoryId }, new { @class = "btn text-danger fa fa-trash-alt" })</span>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>